name: production
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Publish package to PyPI index
        env:
          PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install --user --upgrade setuptools wheel twine
          python setup.py sdist bdist_wheel
          twine upload -u __token__ -p $PASSWORD dist/*
